
  <div class="row text-center">
    <%= link_to brand_shoes_path(@shoe.brand) do %>
    <i class="fa fa-arrow-left"></i> Retour
    <% end %>
  </div>

  <div class="container" id="results">
    <div id="logo-brand" class="shoes-front">
      <%= link_to (image_tag "logook.png"), root_path %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4" style="margin-top: 200px;">

        <%= form_tag("",method: "get", class: "form-horizontal") do %>
        <div class="form-group">
          <label class="col-sm-2 control-label left">Brand : </label>
          <div class="col-sm-10">
            <p class="form-control-static"><%=@shoe.brand.name %></p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label left">Shoe :</label>
          <div class="col-sm-10">
            <p class="form-control-static"><%= @shoe.name %></p>
          </div>
        </div>
        <div class="size">
          <%= label_tag(:size, "Pointure") %>
          <%= select_tag :size, options_for_select(35..46), prompt: "Select a size", class: "select-style" %>
        </div>
      </section>

      <%= label_tag(:price, "Price") %>
      <div class="price">
        <div id="slider-range">
          <input type="hidden" id="amount" name="price" value="" maxlength="6">
        </div>
        <div id="minValue" class='pull-left'>
          <% if @price_low_range %>
            <%= @price_low_range %>
          <% else %>
            1
          <% end %>
        </div>
        <div id="maxValue" class='pull-right'>
          <% if @price_high_range %>
            <%= @price_high_range %>
          <% else %>
            1000
          <% end %>
        </div>

      </div>

      <div class="clear"></div>
      <div class="btn-container">
        <%= submit_tag("Search") %>
      </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-8">

      <!-- results list -->
      <% @results.each do |result| %>
      <div class="result">
        <div class="row">
          <div class="col-xs-2">
            <div class="result-img" style="background-image:url(<%= asset_path result.picture_url %>)">
            </div>
          </div>
          <div class="col-xs-8">
            <div class="result-body">
              <h2><%= result.title %></h2>
              <p>
                <div class="store"><%= result.store.name %> </div>
              </p>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="result-infos">
              <ul class="list-unstyled">
                <li class="price"><%= result.price %>€</li>
                <li>Pointure : <%= result.size.presence || 'n/a' %></li>
                <!-- <li class="store"><%= result.store.name %></li> -->
                <li class="Achat"><%= link_to "Acheter", result.url , class: "btn btn-warning", :target => "_blank" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>

    </div>

  </div>
</div>


<%= content_for(:after_js) do %>
<script>

  $(document).ready(function(){

    <% if @size %>
      $("#size").val(<%= @size %>);
    <% end %>

    var min = <%= @price_low_range || 0 %> ;
    var max = <%= @price_high_range || 1000 %> ;
    $("#amount" ).val( min + "-" + max );

    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 1000,
      values: [ min, max ],
      slide: function( event, ui ) {
        var minimum = ui.values[0];
        var maximum = ui.values[1];
        $("#amount" ).val( minimum + "-" + maximum );
        updateValues(minimum, maximum);
      }
    });

    function updateValues(min, max) {
      $('#minValue').html(min);
      $('#maxValue').html(max);
    }

  })
</script>
<% end %>