<div class="container">
  <div id="main-logo">
    <%= image_tag "logo1.png", class: "img-center"  %>
  </div>
</div>

<div class="subtitle">
  <p> Trouvez toutes les sneakers motherfuck </p>
</div>
  <div class="social">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a>
      </li>
      <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a>
      </li>
      <li><a href="#"><i class="fa fa-lg fa-instagram"></i></a>
      </li>
    </ul>
  </div>
</div>

<div id="brands">
  <div class="row">
    <div class="col-xs-3">
      <div class="brand-card">
        <%= image_tag "adidas.png", class: "img-rounded img-responsive" %>
        <%= link_to "Découvrez", brand_shoes_path(@brands.name), class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-xs-3">


      <div class="brand-card">
          <%= image_tag "nike.jpg", class: "img-rounded img-responsive" %>

          <a class='btn btn-primary' href='#'>Découvrez</a>
       </div>
    </div>
      <div class="col-xs-3">
        <div class="brand-card">
        <%= image_tag "jordan.jpg", class: "img-rounded img-responsive" %>
        <a class='btn btn-primary' href='#'>Découvrez</a>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="brand-card">
        <%= image_tag "reebok.jpg", class: "img-rounded img-responsive" %>

        <a class='btn btn-primary' href='#'>Découvrez</a>
        </div>
      </div>
    </div>
  </div>