<div class="text-center">
  <%= image_tag @brand.photo_url, class: "image_center brand_image" %>
  <h1>c'est tendance<h1>
  <%= link_to brands_path do %>
    <i class="fa fa-arrow-left"></i> Back
  <% end %>

</div>


<div class="container">
  <% @shoes.each do |shoe| %>
    <div class="row">
      <div class="col-xs-2">
        <%= image_tag shoe.picture(:original), class: "img-responsive" %>
      </div>
      <div class="col-xs-10">
        <h2><%= shoe.name %></h2>
        <p>
          <%= shoe.description %>
        </p>
        <%= image_tag shoe.picture(:thumb), class: "img-responsive" %>
      </div>
    </div>
  <% end %>
</div>

